* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.container {
  position: relative;
}

.container .circle {
  position: absolute;
  border-radius: 50%;
  animation: 2s ease-in infinite alternate;
}

.container .circle:nth-child(1) {
  width: 200px;
  height: 200px;
  top: -10px;
  left: -100px;
  background: linear-gradient(#f5180a, #c736fa);
  animation-name: move-up;
}

@keyframes move-up {
  to {
    transform: translateY(-30px);
  }
}

.container .circle:nth-child(2) {
  width: 150px;
  height: 150px;
  background: linear-gradient(#33ff01, #c5ff1c);
  bottom: 0;
  right: -40px;
  animation-name: move-down;
}

@keyframes move-down {
  to {
    transform: translateY(30px);
  }
}

.clock {
  width: 380px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.clock-img img {
  width: 100%;
  height: 100%;
}

.clock::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 15;
}

.clock .hour,
.clock .minute,
.clock .second {
  position: absolute;
}

.clock .hour,
.clock .hour .hr {
  width: 160px;
  height: 160px;
}

.clock .minute,
.clock .minute .min {
  width: 190px;
  height: 190px;
}

.clock .second,
.clock .second .sec {
  width: 230px;
  height: 230px;
}

.hr,
.min,
.sec {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 80px;
  background-color: #f00;
  border-radius: 10px;
  z-index: 10;
}

.min::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 90px;
  background-color: #0f0;
  z-index: 11;
  border-radius: 8px;
}

.sec::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 130px;
  background-color: #fff;
  z-index: 12;
  border-radius: 4px;
}
